#list_content
{
	margin-top:40px;
}

#button
{
	margin-top:40px;
	text-align:center;
}

#btn-1
{
	width:100px;
	margin-right:60px;
	text-align:center;
}

#btn-2
{
	width:100px;
	margin-left:60px;
	text-align:center;
}

#success
{
	text-align:center;
}
#table_head
{
	height:50px;
}

#table_container
{
	padding-right:30px;
}

#btn-status
{
	width:100px;
	margin-left:20px;
	text-align:center;
}

#head_con
{
	text-align:center;
	margin-top:60px;
}

#type_choose
{
	
}

#type_choose_group
{
	height:46px;
}

#page_num
{
	text-align:center;
}